.ant-card{
    border-radius: 10px;
}
.ant-card-body{
    padding: 22px;
}

.warehouse_list_wrapper{
    width: 80%;
    margin: 0 auto;
    flex-grow: 1;
}

.warehouse_list_cards{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 24px;
}

.warehouse_list_card{
    flex-basis: 30%;
    height: 100%;
}


.pending_orders_wrapper{
    width: 80%;
    margin: 10px auto;
    flex-grow: 1;
}

.ant-collapse-item{
    border-radius: 10px;
}